{% extends 'questions/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm">
    <h1>{{ object }}</h1>
  <div class="alert alert-success hide" id="success">
    <strong>Complimenti!</strong> Hai riposto a tutte le domande.
  </div>
   <div class="alert alert-danger hide" id="result">
  </div>
    {% comment %}
    <audio controls width="100%">
    <source src="{{ object.audio_link }}" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>

    <iframe src="{{ object.lesson_link}}" height="900px" width="100%"></iframe>
    {% endcomment %}

    <form class="form-inline">
        {% for question in object.question_set.all %}
        <div class="form-group col-4 p-3">
            <label class="col-6" for="q{{ question.pk}}">
                {{question.text }}
                &nbsp;
                <a href="https://forvo.com/search/{{question.text}}/he/" target="_blank" tabindex="-1">
                    <i class="fa fa-volume-up"></i>
                </a>
            </label>
            <input class="{% if question.gender %}col-3{% else %}col-6{%endif %} form-control question" id="q{{ question.pk }}" >
            {% if question.gender %}
                <div class="col-3 custom-control custom-radio">
                    <label>
                    <input type="radio" name="gender-q{{ question.pk}}" value="m">
                        &nbsp;
                    <i class="fa fa-male"></i>
                    </label>
                    <label>
                    <input type="radio" name="gender-q{{ question.pk }}" value="f">
                        &nbsp;
                    <i class="fa fa-female"></i>
                    </label>
                </div>
            {% endif %}
        </div>
        {% endfor %}
        <div class="form-group">
            <button id="submit" class="btn btn-primary">Controlla</button>
        </div>
    </form>
</div>

{% endblock %}

{% block js %}
<script>
dict = {
    {% for question in object.question_set.all %}
    'q{{ question.pk }}': {
            'correct': [{% for ca in question.correct_answers_list %}"{{ ca }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
            'gender': '{{ question.gender }}'
        },
    {% endfor %}
}

var questions_count = {{ object.question_set.all|length }};
</script>
<script src="{% static 'js/lesson.js' %}"></script>
{% endblock %}